#biopic {
    transform: rotate(90deg);
    height: 200px;
    width: 260px;
    float: left;
    padding: 20px;
    padding-bottom: 40px;
}


/* #mediaBreak {
    display: none;
} */

p {
    padding: 30px 20px 10px;
}

@media screen and (max-width: 640px) {
    #biopic {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* #mediaBreak {
        display: static;
    } */
    #bio {
        display: block;
    }
}