#picbtns {
    float: left;
    height: 300px;
    width: 200px;
    padding: 20px 100px;
    margin: 10 auto;
}

.container {
    position: relative;
}

.tiles{
    position: relative;
    width: 200px;
    height: 300px;
    float: left;
    margin-bottom: 50px;
}

#tile1 {
    background: url("../images/Periphery logo.PNG");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 150px;
   
}

#tile1 .text-block {
    position: absolute; 
    bottom: 0px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

#tile2 {
    background: url("../images/Cheesey Puff.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px;
       
}

#tile2 .text-block {
    position: absolute; 
    bottom: 0px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

#tile3 {
    background: url("../images/Crystalbot.PNG");
    margin-left: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

#tile3 .text-block {
    position: absolute; 
    bottom: 0px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

#tile4 {
    background: url("../images/hermitscore1.png");
    margin-left: 100px;
    background-size: contain;
    
}

#tile4 .text-block {
    position: absolute; 
    bottom: 0px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

#tile5 {
    background: url("../images/Entanglements.PNG");
    margin-left: 150px;
    margin-bottom: 150px;
    background-size: contain;    

}

#tile5 .text-block {
    position: absolute; 
    bottom: 0px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

/* .text-block {
    font-family: ver
    color: darkorange;
    font-size: 24px;

    position: absolute;
    bottom: 20px;
    background-color: darkslategray;
    color: darkorange;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    z-index: 1;
} */

.textButton {
    color:rgb(71, 81, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    z-index: 2;
}

a .textbutton:hover {
    color: darkorange;
    border-style: groove;
    background-color: darkslategray;
    border-color: white;
}